.DS_Store
DRAFT*
OLD*
*.pyc
*.wt
TEST*
prolog/basics/db.pl
cpp/basics/makefile
python/notebooks/.ipynb_checkpoints/*
python/notebooks/data/*
*.o
assembly/intro
_bin
Python/Machine-Learning/_data*
Python/_Data-Science/_spark*
Python/_Data-Science/_mongodb*
