.DS_Store
DRAFT*
OLD*
*.pyc
*.wt
*/*/mongodb/*
*/*/spark/fs_sample/*
TEST*
prolog/basics/db.pl
cpp/basics/makefile
python/notebooks/.ipynb_checkpoints/*
python/notebooks/data/*
*.o
assembly/intro
*data*
